<nav class="tab-bar">
    <NavLink class="tab-item" href="" Match="NavLinkMatch.All">
        <span class="tab-icon"><Icon Name="home" CssClass="h-5 w-5" /></span>
        <span>Ana Sayfa</span>
    </NavLink>
    <AuthorizeView Roles="@Roles.Administration">
        <Authorized>
            <NavLink class="tab-item" href="daily-plans/new">
                <span class="tab-icon"><Icon Name="clipboard" CssClass="h-5 w-5" /></span>
                <span>Planlar</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="@Roles.HeadOfMaster">
        <Authorized>
            <NavLink class="tab-item" href="my-work">
                <span class="tab-icon"><Icon Name="clipboard" CssClass="h-5 w-5" /></span>
                <span>İşlerim</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="@Roles.Approval">
        <Authorized>
            <NavLink class="tab-item" href="approvals">
                <span class="tab-icon"><Icon Name="check-circle" CssClass="h-5 w-5" /></span>
                <span>Onaylar</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <button type="button" class="tab-item" @onclick="() => _showMore = true">
        <span class="tab-icon"><Icon Name="more-horizontal" CssClass="h-5 w-5" /></span>
        <span>Diğer</span>
    </button>
</nav>

<Modal Show="_showMore" Title="Menü" OnClose="() => _showMore = false">
    <NavMenu OnNavigate="() => _showMore = false" />
</Modal>

@code {
    private bool _showMore;
}
