<nav class="tab-bar">
    <NavLink class="tab-item" href="" Match="NavLinkMatch.All">
        <Icon Name="home" CssClass="h-6 w-6" />
        <span>Ana Sayfa</span>
    </NavLink>
    <AuthorizeView Roles="SystemAdmin,TechnicalOfficeEngineer">
        <Authorized>
            <NavLink class="tab-item" href="daily-plans/new">
                <Icon Name="clipboard" CssClass="h-6 w-6" />
                <span>Planlar</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="HeadOfMaster">
        <Authorized>
            <NavLink class="tab-item" href="my-work">
                <Icon Name="clipboard" CssClass="h-6 w-6" />
                <span>İşlerim</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="HeadOfMaster,SiteChief,ProjectManager">
        <Authorized>
            <NavLink class="tab-item" href="approvals">
                <Icon Name="check-circle" CssClass="h-6 w-6" />
                <span>Onaylar</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <button type="button" class="tab-item" @onclick="() => _showMore = true">
        <Icon Name="more-horizontal" CssClass="h-6 w-6" />
        <span>Diğer</span>
    </button>
</nav>

<Modal Show="_showMore" Title="Menü" OnClose="() => _showMore = false">
    <NavMenu OnNavigate="() => _showMore = false" />
</Modal>

@code {
    private bool _showMore;
}
